@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@200&display=swap');



.about-options p{
  padding: 0;
  font-size: 30px;
  font-weight: 500;
}


.about-create{
  
  height:fit-content ;
  margin-top: 30px;
}
.about-create h4 {
  font-size: 30px;
}

.about-options  .about-options-digi{
  padding: 0;
}

.about-options .about-options-icon{
  padding: 0;
}
.about-options .about-options-icon p{
 
  padding-top: 20px;
  padding-left: 10px;
  font-size: 14px;
  color: gray;
}

.hidden-div{
  width: 500px;
  border-radius: 20px;
  padding-left: 20px;
  
}

#span-hidden{
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
  

}

.google-inside{
  width: 750px;
}

.google-heading h1{
  letter-spacing: 5px;
  font-size: 50px;
}

.google-para p{
  font-size: 25px;
  padding-top: 30px;
  font-weight: 500;
}


.sub-box{
 padding-top: 30px;
 
}
.sub-box h2{
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #ffff;
}

.sub-box p{
  font-size: 20px;
  color: gray;
}

.sub-box form{
  display: flex;
  width: fit-content;

}
.sub-box form i{
  position: absolute;
  margin-right: -10px;
  padding-top: 5px;
  font-size: 20px;
  padding-left: 10px;
  color: #ffff;
}
.sub-box form input{
  width: 300px;
  border: none;
  background-color: transparent;
  margin-left:30px ;


}

.sub-content{
  height: 300px;
}

.sub-box form input:focus{
  outline: none;
}

.sub-box form .form-input{
  border: solid 1px #ffff;
  width: fit-content;
  border-radius: 20px 0 0 20px;
  
}



.navbar-logo img{
  width: 80px;
  height: 80px;
}

.navbar-content{
 
  margin-top: 20px;
}

.navbar-options{
  position: absolute;
  margin-top: -70px;
  height: 230px;
  background-color: #F6C425;
  opacity: 0;
  border-radius: 10px;
}

.navbar-options .navbar-option-inside a{
  text-decoration: none;
  color: black;
}

.navbar-options .navbar-option-inside h2{
  letter-spacing: 2px;
  font-size: 25px;
}

.navbar-button{
  z-index: 1;
}

.active2{
  opacity: 1;
}

.home-video #myVideo{
  /* margin-top: 180px; */
  max-width: 85%;
  margin-left: 100px;
  position: relative;
  

}

.home-video video::-webkit-media-controls-panel {
  display: none !important;
  opacity: 1 !important;}


 .home-inside{
   padding-top: 150px;
    
 }
 .home-heading{
   padding-bottom: 20px;
 }
  .home-heading #line1
  {
    font-size: 45px;
    font-family: 'Urbanist', sans-serif;
    text-align: center;
    font-weight: 600;
    letter-spacing: 2px;
  }

  .home-heading #line2{
    font-family: 'Urbanist', sans-serif;
    text-align: center;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 20px;
    color: grey;
  }

  .overlay-heading{
  
   
    top: 500px;
    left: 320px;
    position: absolute;
    z-index: 1;
  }


  .overlay-heading h3{
    color: #ffff;
    font-size: 30px;
    
  }